<nav class="bg-black">
  <div class="xl:mx-10 lg:mx-10 mx-4 py-8">
    <div class="flex justify-between items-center">
      <div class="">
        <a href="#">
          <svg id="Component_13_1" data-name="Component 13 – 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 169 45" class="h-10">
            <g id="Layer_2_00000176005099121648187800000013344932387276069258_" transform="translate(0 4.845)">
              <g id="Layer_1-2">
                <path id="Path_1" data-name="Path 1" d="M26.144,0V13.58H.5V6.391Z" transform="translate(-0.472)" fill="#fff" />
                <path id="Path_2" data-name="Path 2" d="M12.862,265.6l-.028,9.858L0,272.958.028,265.6Z" transform="translate(0 -250.578)" fill="#fff" />
                <circle id="Ellipse_1" data-name="Ellipse 1" cx="5.215" cy="5.215" r="5.215" transform="translate(0 24.881)" fill="#fff" />
              </g>
            </g>
            <text id="Filotimo" transform="translate(35 34)" fill="#fff" font-size="32" font-family="Poppins-Bold, Poppins" font-weight="700">
              <tspan x="0" y="0">Filotimo</tspan>
            </text>
          </svg>
        </a>
      </div>
      <div class="flex space-x-4">
        <button href="#" class="font-poppins font-bold bg-kuning rounded-md py-1 px-6 flex items-center text-black">
          LOGIN
          <svg xmlns="http://www.w3.org/2000/svg" width="13.357" height="17" viewBox="0 0 13.357 17" class="ml-2">
            <g id="_1" data-name="1" transform="translate(-5 -2)">
              <path
                id="login_account_enter_door"
                d="M18.357,2.607V18.393A.607.607,0,0,1,17.75,19H5.607A.607.607,0,0,1,5,18.393V17.179H6.214v.607H17.143V3.214H6.214V5.036H5V2.607A.607.607,0,0,1,5.607,2H17.75A.607.607,0,0,1,18.357,2.607ZM9.426,13.1l.862.862,3.036-3.036a.607.607,0,0,0,0-.862L10.288,7.033,9.426,7.9l2,2H5v1.214h6.43Z"
              />
            </g>
          </svg>
        </button>
        <button onclick="myFunction()" class="text-black">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <path
              id="_6611381_elements_interface_list_menu_ui_icon"
              data-name="6611381_elements_interface_list_menu_ui_icon"
              d="M28.846,3H9.154A6.094,6.094,0,0,0,3,9.154V28.846A6.094,6.094,0,0,0,9.154,35H28.846A6.094,6.094,0,0,0,35,28.846V9.154A6.094,6.094,0,0,0,28.846,3ZM26.385,25.154H16.538a1.231,1.231,0,1,1,0-2.462h9.846a1.231,1.231,0,1,1,0,2.462Zm0-4.923H14.077a1.231,1.231,0,1,1,0-2.462H26.385a1.231,1.231,0,0,1,0,2.462Zm0-4.923H11.615a1.231,1.231,0,1,1,0-2.462H26.385a1.231,1.231,0,1,1,0,2.462Z"
              transform="translate(-3 -3)"
              fill="#e5ff0a"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
